:root {
  --light-blue: rgba(209, 233, 255, 0.966);
  --light-medium-blue: rgba(155, 212, 245, 0.822);
  --medium-blue: rgba(86, 176, 236, 0.904);
  --darker-blue: rgba(46, 119, 187, 0.87);
  --dark-orange: rgb(211, 141, 57);
  --yellow: rgba(255, 223, 158, 0.37);
  --white: rgba(255, 255, 255, 0.877);
  --black: rgba(0, 0, 0, 0.884);
}

a {
  color: var(--darker-blue);
  font-family: inherit;
  padding: 0.25em;
}

body {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}

button {
  font-size: 100%;
  font-family: inherit;
  color: var(--darker-blue);
  background-color: var(--white);
  border: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p,
td {
  font-size: 1em;
}

.bioDiv {
  margin-left: 0;
  width: 30%;
}

.bioP {
  margin-bottom: 0;
}

.contactTable {
  border: 1px solid var(--black);
}

.contactTableHeader {
  background-color: var(--medium-blue);
  color: var(--white);
}

.headerLinks {
  color: var(--white);
  height: 2em;
  position: relative;
}

.infoPrompt {
  color: var(--dark-orange);
}

.modal-image {
  display: block;
  padding: 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navSearchBar {
  color: var(--white);
}

.secondaryNavbar {
  background-color: var(--medium-blue);
  font-size: 1em;
  height: 2em;
  position: relative;
}

.small-container {
  margin: 0 1.7rem;
}

.small-form {
  /* Overriding bootstrap defauls here */
  flex-flow: nowrap !important;
  margin: 0 0.5rem;
  max-width: 8rem !important;
  padding: 0.25rem 0.5rem !important;
  width: auto !important;
}

.tablePromps {
  background-color: var(--light-medium-blue);
  color: var(--darker-blue);
  padding: 1em;
}

.tableValues {
  background-color: var(--light-blue);
  padding: 0.75em;
}

.yellowTable {
  background-color: var(--yellow);
  color: var(--b);
}
