:root {
  --light-blue: rgba(209, 233, 255, 0.966);
  --light-medium-blue: rgba(155, 212, 245, 0.822);
  --medium-blue: rgba(86, 176, 236, 0.904);
  --darker-blue: rgba(46, 119, 187, 0.87);
  --dark-orange: rgb(211, 141, 57);
  /* rgba(255, 152, 26, 80); */
  --yellow: rgba(255, 223, 158, 0.37);
  /* rgba(255, 223, 158, 0.397); */
  --white: rgba(255, 255, 255, 0.877);
  --black: rgba(0, 0, 0, 0.884);
}

body {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}

p,
td {
  font-size: 1em;
}

a {
  padding: 0.25em;
}

.tablePromps {
  padding: 1em;
  background-color: var(--light-medium-blue);
  color: var(--darker-blue);
}

.tableValues {
  padding: 0.75em;
  background-color: var(--light-blue);
}

.blurbPrompt {
  color: var(--dark-orange);
}

.yellowTable {
  background-color: var(--yellow);
  color: var(--b);
}

.secondaryNavbar {
  position: relative;
  background-color: var(--medium-blue);
  height: 2em;
  font-size: 1em;
}

.navSearchBar {
  color: var(--white);
  margin-right: 3.5em;
}

.bioDiv {
  width: 30%;
  margin-left: 0;
}

.bioP {
  margin-bottom: 0;
}

.modal-image {
  padding: 1em;
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.headerLinks {
  position: relative;
  height: 2em;
  color: var(--white);
}

.contactTable {
  border: 1px solid var(--black);
}

.contactTableHeader {
  background-color: var(--medium-blue);
  color: var(--white);
}

a {
  font-family: inherit;
  color: var(--darker-blue);
}

button {
  font-size: 100%;
  font-family: inherit;
  color: var(--darker-blue);
  background-color: var(--white);
  border: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
/* 
.extendedNetwork{
  border: 1px solid var(--black);
  text-align: center;
}
@media (min-width:500px) {
  .extendedNetwork {
    font-size: 0.75em;
    width: 5em;
    padding: 1em;
    margin: 0.5em;
    height: 4em;
  }
  .headerLinks {
    height: 2em;
  }
}

@media (min-width:800px) {
  .extendedNetwork {
    font-size: 2em;
    padding: 2em;
    margin: 1em;
    width: 24em;
  }
  .headerLinks {
    height: 2.25em;
  }
}

@media (min-width:1100px) {
  .extendedNetwork {
    width: 38.25em;
  }
  .headerLinks {
    height: 2.25em;
  }
} */

/* #mobileVsDesktop{
  background-color: blue;
  display:flex;
  flex-direction: row;
  @media (max-width: 768px){
    flex-direction: column;
  }
} */
