:root{
  --light-blue: #D1E9FF;
  --dark-blue: #9BD4F5;
  --darker-blue: #2E77BB;
  --dark-orange: rgba(255, 152, 26, 80);
  --yellow: rgba(255, 223, 158, 0.397);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}

p, td{
  font-size: 1em;
}

.tablePromps {
  padding: 1em;
  background-color: var(--dark-blue);
  color: var(--darker-blue);
}

.tableValues {
  padding: 0.75em;
  background-color: var(--light-blue);
}

.blurbPrompt{
  color: var(--dark-orange);
}

.yellowTable{
  background-color: var(--yellow); 
  color: var(--dark-orange);
}


#mobileVsDesktop{
  display:flex;
  flex-direction: row;
  @media (max-width){
    flex-direction: column;
  }
}